.inter-bold-white-24px {
    color: var(--white-4);
    font-family: 'Inter';
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.NavBar {
    background-color: #2e2e2eb2;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; /* Optional: Add some padding */
    box-sizing: border-box;
}

.pi-xora-logo {
 
    /* display: flex;
    align-items: center;
    flex: 1; */
}

.pi-xora-text {
    background-color: transparent;
    color: var(--white-3);
    font-family: 'Jersey';
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    left: 108px;
    position: absolute;
    top: 18px;
}

.pi-xora-icon {
    background-color: transparent;
    height: 50px;
    left: 60px; /* Removed duplicate left property */
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: auto;
    color: rgb(255, 255, 255);
    
    
}



.nav-button {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.nav-button:hover {
    color: rgb(255, 255, 255); 
    transform: scale(1.0); 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
}


.NavBar-Buttons {
    display: flex;
    justify-content: center; /* Center buttons within the container */
    align-items: center;
    flex-grow: 2;
    gap: 30px; /* Optional: Add some space between buttons */
   
}

.profile-button {
    color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.profile-button:hover {
    transform: scale(1); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
}


.marketplace-button,
.live-auctions-button,
.digital-arts-button,
.photographs-button {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: center;
    width: fit-content;
}










