.footer {
    background-color: #202020;
    color: #ffffff;
    padding: 3rem 0rem 1rem 0rem;
    font-family: 'Arial', sans-serif;
    font-size: var(--font-size-s);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.footer-container {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem;
}

.brand-info {
  flex: 1;
  min-width: 250px;
  margin-bottom: 2rem;
}

.brand-info img {
  height: 200px;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.brand-info p {
  color: #b3b3b3;
 
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}

.links-column {
  min-width: 100px;
  margin-bottom: 2rem;
}

.links-column h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.links-column ul {
  list-style: none;
  padding: 0;
}

.links-column li {
  margin-bottom: 0.3rem;
}

.links-column a {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.3s;
}

.links-column a:hover {
  color: #ffffff;
}

.footer-media-icon {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #333;
  margin-top: 1rem;
  color: #b3b3b3;


}
.footer-media-icon a {
  height: 10px;
  width: 5px;
  padding: 5px;
}
.footer-media-icon  img{
  scale:90%;
}

.footer-bottom {
  text-align: center;
  color: #b3b3b3;
  font-size: 0.9rem;

}

.footer-bottom-text {
  background-color: rgba(20, 20, 20, 0.63);
  padding: 0.5rem;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .links-column {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .brand-info {
    text-align: center;
  }

  .footer-media-icon {
    padding-top: 1rem;
  }
}